#component-container {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

#component-container > div {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
