:host {
  color: #333;
}

.toolbar {
  height: 60px;
  padding: 20px;

  display: flex;
  align-items: center;

  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar > span {
  font-size: 1.4em;
}
