#component-container {
  width: 100vw;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

#top-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#controls {
  background-color: lightgrey;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 10px;
}

#controls > .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
}

#speed-controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid grey;
  border-radius: 5px;
}

#speed-controls > span {
  padding: 10px;
}

#speed-controls > span:hover {
  cursor: pointer;
  background-color: darkcyan;
  color: white;
}

#speed-controls > .selected {
  background-color: blueviolet;
  color: white;
}

#speed-controls > .selected:hover {
  background-color: blueviolet;
}

#red-lights-container {
  background-color: lightcyan;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

#red-lights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.red-light {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.red-light > span {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
}

#bottom-panel {
  padding: 20px;
}

#button-row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

#button-row > .button {
  margin-right: 10px;
}

#button-row > span {
  font-size: 20px;
}

#states {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.state {
  border: 1px solid pink;
  padding: 30px;
  border-radius: 5px;

  text-align: center;
}

.selected {
  background-color: pink;
}

.state > span {
  font-size: 25px;
  text-transform: uppercase;
}

.info {
  margin-top: 40px;
}

.time {
  font-size: 20px;
}

.hidden {
  visibility: hidden;
}
