<div id="component-container">
  <div id="top-panel">
    <div id="controls">
      <h1>Controls</h1>

      <div class="row">
        <label id="main-street-run-time">Main Street Minimum Run Time (T<sub>m</sub>) (seconds)</label>
        <input type="number" min="0" [(ngModel)]="crossing.mainStreetRunTime">
      </div>

      <div class="row">
        <label>Side Street Minimum Run Time (T<sub>s</sub>) (seconds)</label>
        <input type="number" min="0" [(ngModel)]="crossing.sideStreetRunTime">
      </div>

      <div class="row">
        <label>Crossing Time (T<sub>c</sub>) (seconds)</label>
        <input type="number" min="0" [(ngModel)]="crossing.crossingTime">
      </div>

      <div class="row">
        <div class="button" (click)="addCarInMainStreet()">Add Car in Main Street</div>
        <span>Cars in Main Street: {{crossing.carsInMainStreet}}</span>
      </div>

      <div class="row">
        <div class="button" (click)="addCarInSideStreet()">Add Car in Side Street</div>
        <span>Cars In Side Street: {{crossing.carsInSideStreet}}</span>
      </div>

      <div class="row">
        <span>Simulation Speed</span>
        <div id="speed-controls">
          <span [ngClass]="{'selected' : crossing.runningSpeed === 1}" (click)="setSpeed1x()">1x</span>
          <span [ngClass]="{'selected' : crossing.runningSpeed === 2}" (click)="setSpeed2x()">2x</span>
          <span [ngClass]="{'selected' : crossing.runningSpeed === 5}" (click)="setSpeed5x()">5x</span>
          <span [ngClass]="{'selected' : crossing.runningSpeed === 10}" (click)="setSpeed10x()">10x</span>
        </div>
      </div>
    </div>

    <div id="red-lights-container">
      <h1>Red Lights</h1>
      <div id="red-lights">
        <div class="red-light">
          <app-red-light [redLight]="crossing.mainStreetRedLight"></app-red-light>
          <span>Main Street Red Light</span>
        </div>

        <div class="red-light">
          <app-red-light [redLight]="crossing.sideStreetRedLight"></app-red-light>
          <span>Side Street Red Light</span>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom-panel">
    <h1>State Transitions</h1>
    <div id="button-row">
      <div class="button" [ngClass]="{'disabled' : crossing.simulationRunning}" (click)="startSimulation()">Start Simulation</div>
      <div class="button btn-warning" [ngClass]="{'disabled' : !crossing.simulationRunning}" (click)="pauseSimulation()">Pause Simulation</div>
      <div class="button btn-danger" [ngClass]="{'disabled' : milliSeconds === 0}" (click)="stopSimulation()">Stop Simulation</div>
      <span>Time Elapsed : {{crossing.totalElapsedTimeSeconds}} seconds</span>
    </div>
    <div id="states">

      <div class="state" [ngClass]="{'selected' : crossing.state === 0}">
        <span>State 1</span>
        <div class="info">
          <div class="counter">
            <span class="time">{{crossing.stateElapsedTime[0]}}</span><span> / {{crossing.mainStreetRunTime}} seconds (T<sub>m</sub>)</span>
          </div>
          <div class="cars">{{crossing.carsInMainStreet}} Cars</div>
          <div class="notification" [ngClass]="{'hidden' : crossing.carsInSideStreet === 0}">Cars in Side Street</div>
        </div>
      </div>

      <div class="state" [ngClass]="{'selected' : crossing.state === 1}">
        <span>State 2</span>
        <div class="info">
          <div class="counter">
            <span class="time">{{crossing.stateElapsedTime[1]}}</span><span> / {{crossing.crossingTime}} seconds (T<sub>c</sub>)</span>
          </div>
        </div>
      </div>

      <div class="state" [ngClass]="{'selected' : crossing.state === 2}">
        <span>State 3</span>
        <div class="info">
          <div class="counter">
            <span class="time">{{crossing.stateElapsedTime[2]}}</span><span> / {{crossing.sideStreetRunTime}} seconds (T<sub>s</sub>)</span>
          </div>
          <div class="cars">{{crossing.carsInSideStreet}} Cars</div>
          <div class="notification" [ngClass]="{'hidden' : crossing.carsInSideStreet === 0}">Cars in Side Street</div>
        </div>
      </div>

      <div class="state" [ngClass]="{'selected' : crossing.state === 3}">
        <span>State 4</span>
        <div class="info">
          <div class="counter">
            <span class="time">{{crossing.stateElapsedTime[3]}}</span><span> / {{crossing.crossingTime}} seconds (T<sub>c</sub>)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
