* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.button {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background-color: cadetblue;
}

.btn-danger {
  background-color: red;
}
.btn-danger:hover {
  background-color: darkred;
}

.btn-warning {
  background-color: orange;
}
.btn-warning:hover {
  background-color: orangered;
}

.disabled {
  background-color: lightgrey;
}
.disabled:hover {
  background-color: lightgrey;
  cursor: default;
}
